<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Controle de Acesso</title>
	<h:outputStylesheet name="css/style.css"/>
</h:head>
<h:body style="padding-top: 70px;"> 
<b:container>	
  <h:form styleClass="form-signin" prependId="false">
		
			<h3>Alterar senha</h3>
   <b:inputText id="senha"  placeholder="Senha atual" type="password" value="#{clienteBeans.senhaAtual}">
			<f:facet name="prepend">
				<b:iconAwesome name="key" />
			</f:facet>
   </b:inputText>
   <b:message for="msgSenhaAtual" />
    <b:inputText id="senha1"  placeholder="Senha nova" type="password" value="#{clienteBeans.novaSenha}">
			<f:facet name="prepend">
				<b:iconAwesome name="key" />
			</f:facet>
   </b:inputText>
   <b:message for="novaSenha"/>
    <b:inputText id="senha2"  placeholder="Confirmar senha" type="password" value="#{clienteBeans.confirmarSenha}">
			<f:facet name="prepend">
				<b:iconAwesome name="key" />
			</f:facet>
   </b:inputText>
   <b:message for="novaSenha"/>
   <b:commandButton action="#{clienteBeans.alterarSenha}" look="primary btn-block" value="Alterar"/>
   <b:commandButton action="principal.xhtml?faces-redirect=true" look="primary btn-block" value="Cancelar"/>
   
 </h:form> 
</b:container>
 
</h:body>
</html>