<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Tela Principal</title>
		<h:outputStylesheet name="css/stylle.css"/>
        
    </h:head>
    <h:body style="padding-top: 60px">
    
        <b:navBar brand="Controle Financeiro" brandHref="#" inverse="true" fixed="top" fluid="true">
            <h:form>
    			 <b:navbarLinks pull="right">
       				 <b:navLink value="Inicio" href="principal.xhtml?faces-redirect=true"/>
       				 <b:dropMenu value="Configuração">
                     <b:navLink  value="Alterar senha" href="alterarSenha.xhtml?faces-redirect=true"/>
                     <b:navLink  value="Excluir conta"/>
                     </b:dropMenu>
        			 <b:navCommandLink value="Relatórios" action="#{principalBeans.chamarRelatorios}"/>
       				 <b:navCommandLink value="Sair" action="#{clienteBeans.logout}"/>
    			 </b:navbarLinks>
			</h:form>
        </b:navBar>
         <b:column col-sm="3" col-md="2" styleClass="sidebar">
                <form>
                    <b:listLinks>
                        <b:navLink header="" />
                        <b:navLink value="Inicio" href="principal.xhtml?faces-redirect=true"/>
                        <b:dropMenu value="Configuração">
                        <b:navLink  value="Alterar senha" href="alterarSenha.xhtml?faces-redirect=true"/>
                        <b:navLink  value="Excluir conta"/>
                        </b:dropMenu>
                        <b:navLink value="Relatórios" href="relatorios.xhtml?faces-redirect=true"/>
                    </b:listLinks>
                </form>
                </b:column>
        <b:container fluid="true">
        
        <b:column col-sm="9" offset-sm="3" col-md="10" offset="2" styleClass="main">
<h:form id="inicial">
          <h2>#{clienteBeans.cliente.nome} , Seja Bem Vindo!</h2>
            <hr class="hr" align="left" />
<b:row styleClass="placeholders">

<b:column col-xs="6" col-sm="3">
         	 <h:form>
         	    <h:outputText value="#{principalBeans.salarioAtual}"> 
         	 	<f:convertNumber pattern="#0.00"/>
         	 	</h:outputText>
         	 	<h5>Salário cadastrado</h5>
         	 	
         	 	<h1><h:outputText value="#{principalBeans.salarioRestante}">
         	 	<f:convertNumber pattern="#0.00"/>
         	 	</h:outputText></h1>
                <h5>Salário após os pagamentos das despesas</h5>       
			</h:form>                    
</b:column>                         
<b:column col-xs="6" col-sm="6">
			   <b:commandLink value="editar" onclick="$('.editarSalario').modal()"/>   
</b:column>
</b:row>
   <hr class="hr" align="left" />
   
<b:dropMenu value="novo lançamento ">
					<b:navLink value="Nova Despesa"  onclick="$('.cadastroDespesa').modal()"/>					
					<b:navLink value="Salario inicial" onclick="$('.cadastrarSalarioInicial').modal()"/>				
					<b:navLink value="Novo salario" onclick="$('.cadastrarNovoSalario').modal()"/>
			</b:dropMenu>
                    <hr class="hr" align="left" />
</h:form>                     
         
               
                    <b:row styleClass="table-responsive">
<h:form>
<h:dataTable styleClass="table table-striped" value="#{principalBeans.listaDespesas}" var="item">
   <h:column>
             <f:facet name="header">
             <h:outputText value="Descrição" />
             </f:facet>
             <h:outputText value="#{item.descricao}" />
   </h:column>
   <h:column>
             <f:facet name="header">
             <h:outputText value="Data" />
             </f:facet>
             <h:outputText value="#{item.dataDespesa}">
             <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Recife"/>
             </h:outputText>
   </h:column>
   <h:column>
   	         <f:facet name="header">
             <h:outputText value="Valor" />
             </f:facet>
             <h:outputText value="#{item.valor}" >
             <f:convertNumber pattern="#0.00"/>
             </h:outputText>
    </h:column>
    <h:column>
              <b:commandLink value="delete" action="#{principalBeans.deleteDespesa}">
              <f:param value="#{item.id}" name="idDespesa"/> 
              </b:commandLink>
    </h:column>
    <h:column>
             <b:commandLink action="#{principalBeans.abrirModalEditarDespesa}" value="editar" >   
	         <f:param value="#{item.id}" name="idDespesa"/>
             </b:commandLink>
    </h:column>
                            
</h:dataTable>
</h:form>
</b:row>
</b:column>
</b:container> 
        <!-- Cadastrar Salario -->
<b:container>
<h:form>       
   <b:modal id="salarioCadastro" title="Cadastre o seu salário" styleClass="cadastrarSalarioInicial">
   <h5>
   Valor:
   <b:inputText id="valor" 
   				required="true" 
   				value="#{principalBeans.salario.valor}"/>
	Data de cadastro:		
   <b:inputText id="data" 
   				required="true" 
   				placeholder="01/01/2019" 
   				value="#{principalBeans.salario.data}">
   <f:convertDateTime pattern="dd/MM/yyyy" 
   					  timeZone="America/Recife"/>		
   </b:inputText>
   </h5>
   <b:commandButton action="#{principalBeans.cadastrarSalario}" look="primary btn-block" value="Salvar"/>
</b:modal>
</h:form>
</b:container>
    <!-- Novo Salario -->
<b:container>
<h:form>       
   <b:modal id="salarioNovoCadastro" title="Cadastre o seu salário" styleClass="cadastrarNovoSalario">
   <h5>
   Valor:
   <b:inputText id="valor" 
   				required="true" 
   				value="#{principalBeans.novoSalario}"/>
	Data de cadastro:		
   <b:inputText id="data" 
   				required="true" 
   				placeholder="01/01/2019" 
   				value="#{principalBeans.dateNovoSalario}">
   <f:convertDateTime pattern="dd/MM/yyyy" 
   					  timeZone="America/Recife"/>		
   </b:inputText>
   </h5>
   <b:commandButton action="#{principalBeans.cadastrarNovoSalario}" look="primary btn-block" value="Salvar"/>
</b:modal>
</h:form>
</b:container>

<!--  Modal cadastro Despesa -->
<b:container>
<h:form>       
   <b:modal id="despesaCadastro" title="Cadastre sua despesa" styleClass="cadastroDespesa">
  <h5>Descrição:
   <b:inputText id="descricao" 
   				required="true" 
   				value="#{principalBeans.despesa.descricao}"/>
   	 Custo :
   <b:inputText id="valorDespesa" 
   				required="true" 
   				placeholder="R$" 
   				value="#{principalBeans.despesa.valor}"/>
     Data da despesa :	
   <b:inputText id="dataDespesa" 
   				required="true" 
   				placeholder="01/01/2019" 
   				value="#{principalBeans.despesa.dataDespesa}">
   <f:convertDateTime pattern="dd/MM/yyyy" 
   					  timeZone="America/Recife"/>		
   </b:inputText>
   </h5>
   <b:commandButton action="#{principalBeans.cadastrarDespesa}" look="primary btn-block" value="Salvar"/>
   
</b:modal>
</h:form>
</b:container>

<!--  Modal Editar Despesa -->
<b:container>
<h:form>       
   <b:modal id="despesaAtualizar" title="Editar despesa" styleClass="editarDespesa" >
  <h5>Descrição:
   <b:inputText id="descricao" 
   				placeholder="Descrição" 
   				value="#{principalBeans.descricaoDespesaSelecionada}"/>
   Custo :
   <b:inputText id="valorDespesa" 
   				required="true" 
   				placeholder="R$" 
   				value="#{principalBeans.valorDespesaSelecionada}">
   <f:convertNumber pattern="#0.00"/>
   </b:inputText>
	Data da despesa :	
   <b:inputText id="dataDespesa" 
   				required="true" 
   				placeholder="01/01/2019" 
   				value="#{principalBeans.dataDespesaSelecionada}">
   <f:convertDateTime pattern="dd/MM/yyyy" 
   					  timeZone="America/Recife"/>		
   </b:inputText>
   </h5>
   <b:commandButton action="#{principalBeans.editarDespesa}" look="primary btn-block" value="Atualizar"/>
   
</b:modal>
</h:form>
</b:container>

<!--  Modal Editar Salario -->
<b:container>
<h:form>       
   <b:modal id="editarSalario" title="Edite seu Salario" styleClass="editarSalario" >
   <h5> Valor :
   <b:inputText id="valor" 
   				required="true" 
   				placeholder="valor" 
   				value="#{principalBeans.salarioAtual}">
   <f:convertNumber pattern="#0.00"/>
   </b:inputText>
	Data de cadastro :			
   <b:inputText id="data" 
   				required="true" 
   				placeholder="01/01/2019" 
   				value="#{principalBeans.dataSalarioAtual}">
   <f:convertDateTime pattern="dd/MM/yyyy" 
   					  timeZone="America/Recife"/>		
   </b:inputText>
   </h5>
   <b:commandButton action="#{principalBeans.editarSalario}" look="primary btn-block" value="Salvar"/>
   
</b:modal>
</h:form>
</b:container>
        
        <style type="text/css">
        .sub-header {
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }
        .navbar-fixed-top {
            border: 0 none;
        }
        .sidebar {
            display: none;
        }
        @media (min-width: 768px) {
        .sidebar {
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            bottom: 0;
            display: block;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            position: fixed;
            top: 51px;
            z-index: 1000;
        }
        }
        .nav-list {
            margin-bottom: 20px;
            margin-left: -20px;
            margin-right: -21px;
        }
        .nav-list > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
            background-color: #428bca;
            color: #fff;
        }
        .main {
            padding: 20px;
        }
        @media (min-width: 768px) {
        .main {
            padding-left: 40px;
            padding-right: 40px;
        }
        }
        .main .page-header {
            margin-top: 0;
        }
       
        
        
        </style>
    </h:body>
</html>