<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
        <title>Relatórios</title>
</h:head>
    <h:body style="padding-top: 60px">
        <b:navBar brand="Controle Financeiro" brandHref="#" inverse="true" fixed="top" fluid="true">
            <h:form>
    			 <b:navbarLinks pull="right">
       				 <b:navLink value="Inicio" href="principal.xhtml?faces-redirect=true"/>
       				 <b:dropMenu value="Configuração">
                     <b:navLink  value="Alterar senha" href="alterarSenha.xhtml?faces-redirect=true"/>
                     <b:navLink  value="Excluir conta"/>
                     </b:dropMenu>
        			 <b:navCommandLink value="Relatórios" action="#{principalBeans.chamarRelatorios}"/>
       				 <b:navCommandLink value="Sair" action="#{clienteBeans.logout}"/>
    			 </b:navbarLinks>
			</h:form>
        </b:navBar>
<b:column col-sm="3" col-md="2" styleClass="sidebar">
          <form>
              <b:listLinks>
                       <b:navLink header="" />
                       <b:navLink  value="Inicio" href="principal.xhtml?faces-redirect=true"/>
                       <b:dropMenu value="Configuração">
                       <b:navLink  value="Alterar senha" href="alterarSenha.xhtml?faces-redirect=true"/>
                       <b:navLink  value="Excluir conta"/>
                       </b:dropMenu>
                       <b:navLink value="Relatórios" href="relatorios.xhtml?faces-redirect=true"/>
              </b:listLinks>
          </form>
</b:column>
<b:container fluid="true">
        
<b:column col-sm="9" offset-sm="3" col-md="10" offset="2" styleClass="main">
		<h:form id="inicial">
           <h3>Relatórios</h3> 
         <hr/>
<b:row styleClass="placeholders">
	<b:column col-xs="6" col-sm="3">
	 	<h5><h:outputText value="Entradas X Saídas"/></h5> 
	</b:column>        
</b:row>
   <hr/>
</h:form>                    
		<b:row styleClass="table-responsive">
 	
<h:form>
<h:dataTable  styleClass="table table-striped" value="#{relatoriosBeans.listaSalario}" var="item" >
   <h:column>
             <f:facet name="header">
             <h:outputText value="mês/ano" />
             </f:facet>
             <h:outputText value="#{item.data}" >
             <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Recife"/>
             </h:outputText>
   </h:column>
   <h:column>
             <f:facet name="header">
             <h:outputText value="entrada" />
             </f:facet>
             <h:outputText value="#{item.valor}">
             <f:convertNumber pattern="#0.00"/>
             </h:outputText>
   </h:column>
   <h:column>
             <f:facet name="header">
             <h:outputText value="saida" />
             </f:facet>
             <h:outputText value="#{item.saida}">
             <f:convertNumber pattern="#0.00"/>
             </h:outputText>
    </h:column>
    <h:column>
   	         <f:facet name="header">
             <h:outputText value="saldo" />
             </f:facet>
             <h:outputText value="#{item.salarioRestante}" >
             <f:convertNumber pattern="#0.00"/>
             </h:outputText>
    </h:column>
    <h:column>
              <b:commandLink value="detalhamento" action="#{relatoriosBeans.abrirDetalhesDespesas}">
              <f:param value="#{item.id}" name="idSalario"/> 
              </b:commandLink>
    </h:column>
                            
</h:dataTable>
</h:form>
   		 </b:row>
</b:column>
</b:container> 
<!--  Modal Despesas Detalhe -->
<b:container>
<h:form>  
<b:modal id="detalheDespesa" title="Detalhe de entrada e saídas" styleClass="detalheDespesa" >
   <h4>
   Data do cadastro: 	 <h:outputText id="data" value="#{relatoriosBeans.dataCadastro}">
   									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Recife"/>
 						 </h:outputText> <br/>
   Salário cadastrado :			 <h:outputText id ="entrada" value="#{relatoriosBeans.salarioEntrada}" >
   									<f:convertNumber pattern="#0.00"/>
   						 </h:outputText>  <br/>
   Valor total despesas: <h:outputText id="saida" value="#{relatoriosBeans.valorTotalDespesas}" >
   								    <f:convertNumber pattern="#0.00"/>
   						 </h:outputText>  <br/>
   Saldo Restante :      <h:outputText id="saldo" value="#{relatoriosBeans.saldo}" >
   								    <f:convertNumber pattern="#0.00"/>
   						 </h:outputText> <br/>
   </h4>
   Suas despesas...
   <h:dataTable  styleClass="table table-striped" value="#{relatoriosBeans.listaDespesas}" var="item" >
  
   <h:column>
             <f:facet name="header">
             <h:outputText value="Descrição" />
             </f:facet>
             <h:outputText value="#{item.descricao}" />
   </h:column>
   <h:column>
             <f:facet name="header">
             <h:outputText value="Data" />
             </f:facet>
             <h:outputText value="#{item.dataDespesa}">
             <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Recife"/>
             </h:outputText>
   </h:column>
   <h:column>
   	         <f:facet name="header">
             <h:outputText value="Valor" />
             </f:facet>
             <h:outputText value="#{item.valor}" >
             <f:convertNumber pattern="#0.00"/>
             </h:outputText>
    </h:column>
   </h:dataTable>
</b:modal>
</h:form>
</b:container>
        <style type="text/css">
        .sub-header {
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }
        .navbar-fixed-top {
            border: 0 none;
        }
        .sidebar {
            display: none;
        }
        @media (min-width: 768px) {
        .sidebar {
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            bottom: 0;
            display: block;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            position: fixed;
            top: 51px;
            z-index: 1000;
        }
        }
        .nav-list {
            margin-bottom: 20px;
            margin-left: -20px;
            margin-right: -21px;
        }
        .nav-list > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
            background-color: #428bca;
            color: #fff;
        }
        .main {
            padding: 20px;
        }
        @media (min-width: 768px) {
        .main {
            padding-left: 40px;
            padding-right: 40px;
        }
        }
        .main .page-header {
            margin-top: 0;
        }
       
        
        
        </style>
    </h:body>
</html>