<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Cadastro de Cliente</title>
	<h:outputStylesheet name="css/style.css"/>
</h:head>
<h:body style="padding-top: 70px;"> 
	
<b:container>	
		<h:form styleClass="form-signin" prependId="false">
			<h2>Cadastro de Cliente</h2>
			<b:messages/>
			<b:inputText id="nome" placeholder="Nome" value="#{clienteBeans.cliente.nome}">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>		
			</b:inputText>
			
			<b:inputText id="email"  placeholder="Email" value="#{clienteBeans.cliente.email}">
				<f:facet name="prepend">
					<b:icon name="user" />
				</f:facet>		
			</b:inputText>	
			
			<b:inputText id="senha"  placeholder="Senha" type="password" value="#{clienteBeans.cliente.senha}">
				<f:facet name="prepend">
					<b:iconAwesome name="key" />
				</f:facet>
			</b:inputText>
			<b:commandButton action="#{clienteBeans.salvarCliente}" look="primary btn-block" value="Cadastrar"/>
			 
		</h:form> 
</b:container>
<b:container>
		<h:form styleClass="link-login">
		 
		 <i> <b:commandLink value="Já tem uma conta? Faça Login."  action="login.xhtml?faces-redirect=true"/> </i>
		</h:form>
</b:container>
</h:body>
</html>