<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Controle de Acesso</title>
	<h:outputStylesheet name="css/style.css"/>
</h:head>
<h:body style="padding-top: 70px;"> 
<b:container>	
  <h:form styleClass="form-signin" prependId="false">
		
		<!-- <h:graphicImage library="imagens" name="logo.png" height="200" width="500"  />  
		 -->
			<h2>Controle Financeiro</h2>
			<b:messages/>
   <b:inputText id="email" placeholder="Email" value="#{clienteBeans.cliente.email}">
			<f:facet name="prepend">
			 	<b:icon name="user" />
			</f:facet>				
   </b:inputText>	
		
   <b:inputText id="senha"  placeholder="Senha" type="password" value="#{clienteBeans.cliente.senha}">
			<f:facet name="prepend">
				<b:iconAwesome name="key" />
			</f:facet>
   </b:inputText>
   <b:commandButton action="#{clienteBeans.logar}" look="primary btn-block" value="Entrar"/>
   
 </h:form> 
</b:container>
<b:container>
		<h:form styleClass="link-cadastro">
		
	<i> <b:commandLink value="Cadastre-se."  action="cadastroCliente.xhtml?faces-redirect=true"/> </i>
		</h:form>
</b:container>
</h:body>
</html>