@charset "ISO-8859-1";

.form-signin {
	margin: 0 auto;
	max-width: 330px;
	padding: 15px;
}

.link-cadastro {
	margin: 0 auto;
	max-width: 130px;
	padding: 15px;
}

.link-login {
	margin: 0 auto;
	max-width: 230px;
	padding: 15px;
}

.tabela {
	 max-width: -350px;
}

.hr {
	max-width: 830px;
}

 
 